*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    }

.container{
    width: 1280px;
    font-family:"Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    margin: 10px auto;
    }

                /* header */

.header{
    text-align: center;
    padding: 30px 0;
    }

.nav__item{
    display: inline-block;
    margin-right: 72px;
    text-transform: uppercase;
    letter-spacing: 2.7px;
    font-size: 18px;
    }

.nav_item-link{
    color: #FF0000;
    text-decoration: none;
    }

.nav__item:nth-child(3) {
    margin-right: 50px;
    }

.nav__item:last-child {
    margin-right:0;
    }

                /*main*/

.main{
    text-align: center;
    }

.image{
    display: block;
    }

.main__title{
    margin-top: 49px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    color: #373737;
    }

.main__text{
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    letter-spacing: 2.4px;
    color: #373737;
    }

.main__text:first-of-type{
    margin: 38px 67.5px 0;
    }

.main__text:last-of-type{
    margin: 25px 67.5px 0;
    }

                /*button*/

.main__button{
    display: inline-block;
    padding: 18px 43.5px 17px 42.5px;
    margin: 66px 0 42px;
    background: #FF0000;
    border-radius: 4px;

    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1.8px;
    color: white;
    font-weight: 700;
    font-size: 12px;
    }

                /*fotter*/

.footer{
    text-align: right;
    padding: 44px 0;
    }

.footer__text{
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-right: 105px;
    }

